.slider {
  &__active {
    position: relative;

    overflow: hidden;

    text-align: center;
  }

  &__active &__slides {
    position: relative;

    overflow: hidden; /* clearfix */

    touch-action: pan-y;
  }

  &__active &__slides > * {
    float: left;

    margin: 0;

    -webkit-tap-highlight-color: transparent;
  }

  &__active &__slides a:active,
  &__active &__slides a:active img {
    outline: none;
  }

  &__active,
  &__active &__dots,
  &__active &__slides,
  &__active &__slides > * {
    transform: translate3d(0, 0, 0);

    backface-visibility: hidden;
  }

  &__mouse &__slides {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    user-select: none;
  }

  &__mouse &__drag &__slides * {
    cursor: move;
  }

  /* dots */
  &__dots {
    margin: 0;
    padding: 0;

    list-style-type: none;

  }

  &__dots > li {
    position: relative;

    display: inline-block;

    width: 12px;
    height: 12px;
    padding: 0 15px;
    padding-top: 50px;

    cursor: pointer;
    user-select: none;
    vertical-align: middle;

    -webkit-tap-highlight-color: transparent;
  }

  &__dots > li &__mouse-clicked,
  &__dots > li:active,
  &__dots > li:focus {
    outline: 0;
  }

  &__dots > li > span {
    position: absolute;
    top: 50%;
    left: 50%;

    display: inline-block;

    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;

    border-radius: 50%;
    background: #9b9890;
  }
  &__dots > li > span:hover {
    background-color: #7e868f;
  }

  &__dots > li &__active-dot > span {
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;

    border: 3px solid red;
    background: transparent;
  }
}
