@import "../../sass/mixins/mixins";

.btn {
  @include btn();
  @include btn-color(#ffffff, $color-red, transparent);
  //@include btn-size();

  &--main {
    @include btn-color(#fff, $color-main, $color-main);
  }

  &--danger {
    @include btn-color(#fff, $color-danger, $color-danger);
  }

  &--success {
    @include btn-color(#fff, $color-success, $color-success);
  }

  &--lg {
    @include btn-size(lg);
  }

  &--sm {
    @include btn-size(sm);
  }
  &--slider {
    width: 100%;
    @media (min-width: $screen-md) {
      width: auto;
      padding-right: 7.1rem;
      padding-left: 7.1rem;
    }
  }
  &--web-cite {
    width: 100%;
    padding: .9rem 4rem;
    @media (min-width: $screen-md) {
      width: auto;
    }
  }
  &--app {
    width: 100%;
    background-color: #00ca74;
    padding: .9rem 4rem;
    @media (min-width: $screen-md) {
      width: auto;
    }
  }
  &--presentation {
    width: 100%;
    background-color: #efc84a;
    padding: .9rem 4rem;
    @media (min-width: $screen-md) {
      width: auto;
    }
  }
  &--map {
    width: 100%;
  }
  &--shop-submit {
    width: 100%;
    margin-bottom:$line-height*2;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #f1f1f1;
    color: $black;
    @media (min-width: $screen-md) {
      margin-top: 60px;
      margin-left: 0;
      margin-right: 0;
      width: auto;
    }
  }
  &--paginator-number {
    background-color: #f1f1f1;
    color: $black;
    padding-left: 15px;
    padding-right: 15px;
  }
  &--paginator-next {
    background-color: #f1f1f1;
    color: $black;
    padding-left: 30px;
    padding-right: 30px;
  }
  &:hover {
    background-color: #d6494d;
  }
  &:active,
  &:focus {
    background-color: #b63538;
  }
  &--app:hover {
    background-color: #01a25e;
  }
  &--app:active,
  &--app:focus {
    background-color: #009053;
  }
  &--presentation:hover {
    background-color: #d6ae2c;
  }
  &--presentation:active,
  &--presentation:focus {
    background-color: #c09b24;
  }
  &--shop-submit:hover,
  &--paginator-number:hover,
  &--paginator-next:hover {
    background-color: #e5e5e5;
    color: $black;
  }
  &--shop-submit:active,
  &--shop-submit:focus,
  &--paginator-number:active,
  &--paginator-next:active {
    background-color: #d5d5d5;
    color: $black;
    border-top: 1px solid #b5b5b5;
  }
  &--paginator-number:focus {
    border: 1px solid #d5d5d5;
    color: $black;
    background-color: #ffffff;
  }
  &--paginator-next:focus {
    background: #d5d5d5;
    color: $black;
  }
  &--block {
    width: 100%;
    text-align: center;
    justify-content: center;

    & + & {
      margin-top: ($line-height / 2);
    }
  }
}