@import "../../sass/mixins/mixins";
@import "../../sass/variables";

.page-nav {
  position: relative;
  @include col(xs, 9);

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    flex-direction: column;
    @media (max-width: 767px) {

    }
    @media (min-width: $screen-md) {
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }
  &__item {

  }
  &__item:not(:last-child) {
    @media (min-width: $screen-md) {
      margin-right: 44px;
    }
  }
  &__link:visited {

  }
  &__link:hover {

  }

  &__link:focus {

  }
  &__link:active {

  }
  &__collapse {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 23px;
    height: 23px;
    padding: 0;
    border: 0;
    background-color: transparent;
    @include hidden-up(md);
  }

  &__collapse:focus {
    outline: 0;
  }
  &__row {
    display: block;

    width: 23px;
    height: 4px;

    background-color: $black;
  }

  &__list--close-js {
    display: none;
    @media (min-width: $screen-md) {
      display: flex;
    }
  }
}